/* npx tailwindcss -i ./css/input.css -o ./static/css/output.css --watch */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black max-w-full font-fira-sans;
}

/* Customizations */
a {
  @apply text-cyan underline underline-offset-2;
}

a:hover {
  @apply text-cyan-100 decoration-green;
}

.header a {
  @apply no-underline;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white font-bold mt-8 mb-2 font-grotesk;
}

h1 { @apply text-4xl bg-clip-text text-transparent bg-gradient-to-b from-cyan via-cyan-100 to-green-100; }
h2 { @apply text-3xl; }
h3 { @apply text-2xl; }
h4 { @apply text-xl; }
h5 { @apply text-lg; }
h6 { @apply text-lg; }

p, ul, ol {
  @apply text-white mb-2 text-lg;
}

.archive ul {
  @apply list-disc list-inside;
}

blockquote {
  @apply border-l-4 pl-4 py-2 my-4 italic border-cyan-100 bg-grey-100 rounded-r;
}

blockquote p {
  @apply m-0;
}

.line-block{
  @apply text-white-900 italic;
}

table {
  @apply w-full text-center mb-4 text-cyan;
}

th {
  @apply uppercase text-sm font-bold border border-cyan bg-cyan text-black border;
}

td {
  @apply border border-cyan p-2;
}

tr:nth-child(even) {
}

hr {
  @apply border-none bg-gradient-to-r from-cyan-100 via-green-100 to-cyan-100 h-0.5 my-4 rounded;
}

ul > li, ol > li {
  @apply relative pl-6;
}

ul > li::before, ol > li::before {
  content: '';
  @apply w-2 h-2 rounded-full bg-gradient-to-r from-cyan-900 to-cyan absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Removes nested, might need to be removed in favor of explicit nesting levels */
ul li *::before, ol li *::before {
  content: none;
}

li.no-bullet::before {
  content: none;
}

#table-of-contents a {
  @apply no-underline rounded;
  transition: background-color 3s ease;
}

#table-of-contents > a:hover {
  animation: pulse 3s infinite;
}

#table-of-contents li::before {
  content: none;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/* Wide code blocks break the responsive formatting, limit them in width responsively */
pre {
  @apply max-w-xs sm:max-w-sm md:max-w-md lg:max-w-xl xl:max-w-2xl 2xl:max-w-3xl;
}
