@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizations */
.container {
  max-width: 800px;
}

a {
  @apply text-white;
}

a:hover {
  @apply text-pink-500;
}

.header a {
  @apply no-underline;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-white;
}

p, ul, ol {
  @apply text-base text-gray-300;
}

.archive ul {
  @apply list-disc list-inside;
}

/* Additional styles */
body {
  background: linear-gradient(135deg, #6b46c1, #3b2b65);
}

.content {
  background: linear-gradient(135deg, #2a1a4a, #1c0e2e);
  @apply p-8 rounded-lg shadow-lg;
}

.index-entry {
  @apply mb-8 last:mb-0;
}

.post-date {
  @apply text-sm text-gray-400;
}

.post-title {
  @apply text-2xl mt-4 mb-2 text-white no-underline hover:text-pink-500;
}
