{:paths ["src"]
 :deps
 {clojure-term-colors/clojure-term-colors {:mvn/version "0.1.0"}
  org.clj-commons/hickory                 {:mvn/version "0.7.3"}
  hiccup/hiccup                           {:mvn/version "1.0.5"}}}
